<!DOCTYPE html>
<html>	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<style>
		body {
		    font-family: Ubuntu;
		    font-size: 18px;
		    background-color: #443a3a;
		    color: #000;
		    text-align: center;
		}
		</style>
	</head>
	<body>
		<h1>Bienvenido a FreeStation!</h1>
		<div style="color:#b7b3b3;">
			Esto es una página web en HTML
			
			<div style="float:left;padding:10px;text-align:left;border: 3px dotted #883c3c">
			<h3 style="text-decoration:underline">Categorías</h3>
				<ul>
					<li>Aplicaciones</li>
					<li>Exámenes</li>
					<li>Docencia</li>
					<li>Investigación</li>
				</ul>
			</div>

		</div>
		<script>
		//alert('Hola')
		</script>
	
	</body>
</html>